@import "_variables";
@import "_titles";
@import "_reset";

* {
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  letter-spacing: 2px;
  padding-top: 100px;
}

body > *:not(.footer) {
  padding: 0px 55px;
}

a {
  text-decoration: none;
  @extend %miniTitle;
}

header {
  background-color: white;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  padding: 0px 55px;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  img {
    width: 55px;
    margin-top: 20px;
    cursor: pointer;
  }
  nav {
    margin-top: -30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    ul {
      display: flex;
      li {
        cursor: pointer;
        @extend %miniTitle;
        &:nth-child(2) {
          margin-left: 50px;
        }
        &:hover {
          opacity: 0.2;
        }
      }
    }
  }
}

.hero,
.hero2 {
  height: 80vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  margin-bottom: $spaceBetween;
  h3 {
    font-size: 45px;
    width: 40%;
    margin-bottom: 50px;
    font-style: italic;
    text-align: center;
  }
  h4 {
    @extend %miniTitle;
    margin-bottom: 30px;
  }
  a {
    border: 1px solid white;
    color: white;
    width: 20%;
    height: 10%;
    text-align: center;
    padding-top: 22px;
    transition: color 0.3s linear, background 0.3s linear;
    &:hover {
      color: black;
      background-color: white;
    }
  }
}

.hero {
  background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/003_5_1600x929_crop_center.jpeg?v=1585791889");
}

.hero2 {
  color: black;
  a {
    color: black;
    border: 1px solid black;
    &:hover {
      color: white;
      border: 1px solid black;
      background-color: black;
    }
  }
  background-image: url("https://cdn.shopify.com/s/files/1/0086/4865/4895/files/IMG_3566_65a3b457-7a2f-474d-81c1-56eec598fcdd_1600x929_crop_center.jpg?v=1561045055");
}

.under-hero {
  height: 80vh;
  display: flex;
  width: 100%;
  margin-bottom: $spaceBetween;
  .under-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    h3 {
      font-size: 30px;
      width: 80%;
      margin-bottom: 50px;
      font-style: italic;
      text-align: center;
    }
    h4 {
      @extend %miniTitle;
      margin-bottom: 30px;
    }
    a {
      border: 1px solid black;
      color: black;
      width: 40%;
      height: 10%;
      text-align: center;
      padding-top: 22px;
      transition: color 0.3s linear, background 0.3s linear;
      &:hover {
        color: white;
        background-color: black;
      }
    }
  }
  img,
  div {
    width: 50%;
  }
}

.new-arrivals {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  h4 {
    @extend %miniTitle;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 30px;
  }
  .products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .product__column {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0px 52px;
      h3 {
        font-size: 25px;
        font-style: italic;
        margin-bottom: 10px;
      }
      h4 {
        margin-bottom: 10px;
      }
      h5 {
        opacity: 0.5;
        margin-bottom: 30px;
      }
      a {
        border: 1px solid black;
        color: black;
        width: 70%;
        padding: 22px 0px;
        margin-bottom: $spaceBetween;
        text-align: center;
        transition: color 0.3s linear, background 0.3s linear;
        &:hover {
          color: white;
          background-color: black;
        }
      }
    }
  }
}

.blog {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: $spaceBetween;
  .blog__post {
    display: flex;
    background-color: $bg;
    &:nth-child(2) {
      img {
        order: 1;
      }
    }
    .post__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      h3 {
        font-size: 30px;
        width: 80%;
        margin-bottom: 50px;
        font-style: italic;
        text-align: center;
      }
      span {
        @extend %miniTitle;
        margin-bottom: 30px;
      }
      a {
        color: black;
      }
    }
    img,
    div {
      width: 50%;
    }
  }
}

.newsletter {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 220px;
  margin-bottom: 50px;
  h4 {
    @extend %miniTitle;
    margin-bottom: 30px;
  }
  h3 {
    font-size: 37px;
    margin-bottom: 50px;
  }
  input {
    font-size: 40px;
    align-self: flex-start;
    font-family: "Cormorant Garamond";
    opacity: 0.5;
    width: 100%;
    border: 0;
    line-height: 70px;
    border-bottom: 1px solid black;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 300px);
  margin-bottom: 100px;
  .gallery__post {
    cursor: pointer;
    img {
      width: 100%;
      height: 100%;
      transition: opacity 0.3s linear;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.follow-us {
  font-size: 40px;
  text-align: center;
  span {
    opacity: 0.5;
    cursor: pointer;
  }
}

.footer {
  margin-top: 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 55px 0px;
  background-color: $bg;
  .footer__column {
    display: flex;
    flex-direction: column;
    align-items: center;
    @extend %miniTitle;
    .column__title {
      margin-bottom: 50px;
      opacity: 0.5;
    }
    ul {
      text-align: center;
      li {
        cursor: pointer;
        margin-bottom: 15px;
      }
    }
    &:nth-child(2) {
      border-left: 1px solid black;
      border-right: 1px solid black;
    }
  }
}
